---
import Container from "@components/container.astro";
import isolationMode from "assets/frame.svg";
import { Image } from "astro:assets";

const basicPlanFeatures = [
  "Access to core features",
  "5GB Storage",
  "Community Support",
];

const proPlanFeatures = [
  "Everything from Basic",
  "100GB Storage",
  "Custom Branding",
  "Analytics and reporting",
  "Priority support",
];

const enterprisePlanFeatures = [
  "Everything from Pro",
  "Unlimited Storage",
  "Dedicated account manager",
  "Onboarding & API Access",
  "White-labeling",
  "99% Uptime SLA",
];
---

<!--====================== Pricing ======================-->
<div class="py-24 bg-primary-soft relative overflow-hidden">
  <div class="absolute -left-28 bottom-60">
    <Image src={isolationMode} alt="" />
  </div>
  <div class="absolute -right-28 top-20">
    <Image src={isolationMode} alt="" />
  </div>
  <Container>
    <div class="relative z-10">
      <h2
        class="text-primary-strong text-center text-3xl md:text-5xl font-bold">
        Pricing Plans
      </h2>
      <p
        class="text-center text-primary-strong font-medium text-lg leading-normal max-w-4xl mx-auto pt-10">
        Cariations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in some form repeat predefined chunks. There are
        many variations of passages of Lorem Ipsum available, but the majority
        have suffered alteration in some form
      </p>
    </div>
    <div class="flex justify-center py-14">
      <div class="flex items-center cursor-pointer">
        <div class="flex flex-wrap">
          <span class="text-md font-semibold mr-4 text-primary-strong">
            Monthly
          </span>
          <input
            type="checkbox"
            value=""
            class="sr-only peer"
            checked
            id="toggle"
          />
          <label for="toggle" class="sr-only">Monthly Yearly Toggle</label>
          <div
            class="relative w-11 h-6 bg-primary-accent rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-medium peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary">
          </div>
          <span class="text-md font-semibold ml-4 text-primary-strong">
            Yearly
          </span>

          <span class="bg-yellow-300 py-1 px-4 rounded-full text-xs ml-4">
            20% Discount
          </span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 relative z-10">
      <div class="bg-white rounded-xl p-10 grid content-between">
        <div>
          <h3 class="text-2xl text-primary-strong font-semibold">Basic</h3>
          <p
            class="text-primary-strong text-3xl md:text-5xl font-semibold pt-4">
            $59.00<span class="text-primary-strong text-xl font-normal">
              /Month
            </span>
          </p>
          <div class="flex flex-col justify-between">
            <ul class="flex flex-col gap-5 mt-10">
              {
                basicPlanFeatures.map((plan) => (
                  <li class="flex items-center gap-3">
                    <div class="w-5 h-5 bg-green-200 text-primary rounded-full flex justify-center items-center">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M15.0682 7.88086L9.65152 13.2974C9.48901 13.4599 9.2757 13.5417 9.06238 13.5417C8.84906 13.5417 8.63574 13.4599 8.47324 13.2974L5.76495 10.5891C5.43903 10.2634 5.43903 9.73663 5.76495 9.41086C6.09073 9.08493 6.61731 9.08493 6.94324 9.41086L9.06238 11.53L13.89 6.70258C14.2157 6.37665 14.7423 6.37665 15.0682 6.70258C15.394 7.02835 15.394 7.55493 15.0682 7.88086Z"
                          fill="currentColor"
                        />
                      </svg>
                    </div>
                    <span class="text-primary-strong font-medium">{plan}</span>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="flex mt-10">
          <a
            href="#"
            class="text-white font-semibold bg-primary p-5 rounded-md w-full text-center transition hover:bg-primary-strong">
            Get started
          </a>
        </div>
      </div>
      <div class="bg-primary rounded-xl p-10 relative grid content-between">
        <div
          class="absolute top-2 right-2 bg-white py-1 px-6 rounded-lg text-primary font-medium">
          <p>Popular</p>
        </div>
        <div>
          <h3 class="text-2xl text-white font-semibold">Professional</h3>
          <p class="text-white text-3xl md:text-5xl font-semibold pt-4">
            $99.00<span class="text-white opacity-50 text-xl font-normal">
              /Month
            </span>
          </p>
          <ul class="flex flex-col gap-5 mt-10">
            {
              proPlanFeatures.map((plan) => (
                <li class="flex items-center gap-3">
                  <div class="w-5 h-5 bg-green-200 text-primary-strong rounded-full flex justify-center items-center">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.0682 7.88086L9.65152 13.2974C9.48901 13.4599 9.2757 13.5417 9.06238 13.5417C8.84906 13.5417 8.63574 13.4599 8.47324 13.2974L5.76495 10.5891C5.43903 10.2634 5.43903 9.73663 5.76495 9.41086C6.09073 9.08493 6.61731 9.08493 6.94324 9.41086L9.06238 11.53L13.89 6.70258C14.2157 6.37665 14.7423 6.37665 15.0682 6.70258C15.394 7.02835 15.394 7.55493 15.0682 7.88086Z"
                        fill="currentColor"
                      />
                    </svg>
                  </div>
                  <span class="text-white font-medium">{plan}</span>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex mt-10">
          <a
            href="#"
            class="text-primary-strong font-semibold bg-white p-5 rounded-md w-full text-center transition hover:bg-primary-soft">
            Get started
          </a>
        </div>
      </div>
      <div class="bg-white rounded-xl p-10 grid content-between">
        <div>
          <h3 class="text-2xl text-primary-strong font-semibold">Enterprise</h3>
          <p
            class="text-primary-strong text-3xl md:text-5xl font-semibold pt-4">
            $130.00<span class="text-primary-strong text-xl font-normal">
              /Month
            </span>
          </p>
          <ul class="flex flex-col gap-5 mt-10">
            {
              enterprisePlanFeatures.map((plan) => (
                <li class="flex items-center gap-3">
                  <div class="w-5 h-5 bg-green-200 text-primary rounded-full flex justify-center items-center">
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.0682 7.88086L9.65152 13.2974C9.48901 13.4599 9.2757 13.5417 9.06238 13.5417C8.84906 13.5417 8.63574 13.4599 8.47324 13.2974L5.76495 10.5891C5.43903 10.2634 5.43903 9.73663 5.76495 9.41086C6.09073 9.08493 6.61731 9.08493 6.94324 9.41086L9.06238 11.53L13.89 6.70258C14.2157 6.37665 14.7423 6.37665 15.0682 6.70258C15.394 7.02835 15.394 7.55493 15.0682 7.88086Z"
                        fill="currentColor"
                      />
                    </svg>
                  </div>
                  <span class="text-primary-strong font-medium">{plan}</span>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex mt-10 content-between">
          <a
            href="#"
            class="text-white font-semibold bg-primary p-5 rounded-md w-full text-center transition hover:bg-primary-strong">
            Get started
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
<!--//End Pricing -->
